<html>
<head>
</head>
<body>
<pre>
            <code id="code-c-geral">
<span>#include &lt;stdio.h&gt;</span>
<span>#include &lt;stdlib.h&gt;</span>
<span></span>
<span>struct no {</span>
<span>    int valor;</span>
<span>    struct no *proximo;</span>
<span>};</span>
<span></span>
<span>typedef struct no No;</span>
<span></span>
<span>struct lista {</span>
<span>    No *topo;</span>
<span>    int tamanho;</span>
<span>};</span>
<span></span>
<span>typedef struct lista Lista;</span>
<span></span>
<span>Lista *criarLista(){</span>
<span>    Lista *l = (Lista *) malloc(sizeof(Lista));</span>
<span>    l->topo = NULL;</span>
<span>    l->tamanho = 0;</span>
<span>    return l;</span>
<span>}</span>
<span></span>
<span>void inserir(Lista *l, int valor, int indice) {</span>
<span>    if(indice > l->tamanho || indice < 0){</span>
<span>        printf("Não foi possível inserir, pois a lista tem %d elementos\n", l->tamanho);</span>
<span>        return;</span>
<span>    }</span>
<span>    No *novoValor = (No *) malloc(sizeof(No));</span>
<span>    novoValor->valor = valor;</span>
<span></span>
<span>    No *anterior = NULL;</span>
<span>    No *atual = l->topo;</span>
<span>    for(int i = 0; i < indice; i++){</span>
<span>        anterior = atual;</span>
<span>        atual = atual->proximo;</span>
<span>    }</span>
<span>    if(anterior == NULL){</span>
<span>        novoValor->proximo = atual;</span>
<span>        l->topo = novoValor;</span>
<span>    }</span>
<span>    else{</span>
<span>        novoValor->proximo = atual;</span>
<span>        anterior->proximo = novoValor;</span>
<span>    }</span>
<span>    l->tamanho++;</span>
<span>}</span>
<span></span>
<span>void remover(Lista *l, int indice){</span>
<span>    if(l->topo == NULL){</span>
<span>        printf("Erro ao tentar retirar um elemento de uma lista vazia\n");</span>
<span>        return;</span>
<span>    }</span>
<span>    if(l->tamanho < indice || indice < 0){</span>
<span>        printf("Erro ao tentar retirar um elemento inexistente de uma lista\n");</span>
<span>        return;</span>
<span>    }</span>
<span>    No *anterior = NULL;</span>
<span>    No *atual = l->topo;</span>
<span>    for(int i = 0; i < indice; i++){</span>
<span>        anterior = atual;</span>
<span>        atual = atual->proximo;</span>
<span>    }</span>
<span></span>
<span>    No *temporario = atual;</span>
<span>    int valor = temporario->valor;</span>
<span></span>
<span>    if(anterior == NULL){</span>
<span>        l->topo = l->topo->proximo;</span>
<span>    }</span>
<span>    else{</span>
<span>        anterior->proximo = atual->proximo;</span>
<span>    }</span>
<span>    free(temporario);</span>
<span>}</span>
<span></span>
<span>void printAll(Lista *l){</span>
<span>    No *atual = l->topo;</span>
<span>    while(atual != NULL){</span>
<span>        printf("%d ", atual->valor);</span>
<span>        atual = atual->proximo;</span>
<span>    }</span>
<span>    printf("\n");</span>
<span>}</span>
<span></span>
<span>int main() {</span>
<span>}</span>
            </code>
        </pre>
</body>
</html>