<html>
<head>
</head>
<body>
<pre>
            <code>
<span>void remover(Lista *l, int indice){</span>
<span>    if(l->topo == NULL){</span>
<span>        printf("Erro ao tentar retirar um elemento de uma lista vazia\n");</span>
<span>        return;</span>
<span>    }</span>
<span>    if(l->tamanho < indice or indice < 0){</span>
<span>        printf("Erro ao tentar retirar um elemento inexistente de uma lista\n");</span>
<span>        return;</span>
<span>    }</span>
<span>    No *anterior = NULL;</span>
<span>    No *atual = l->topo;</span>
<span>    for(int i = 0; i < indice; i++){</span>
<span>        anterior = atual;</span>
<span>        atual = atual->proximo;</span>
<span>    }</span>
<span></span>
<span>    No *temporario = atual;</span>
<span>    int valor = temporario->valor;</span>
<span></span>
<span>    if(anterior == NULL){</span>
<span>        l->topo = l->topo->proximo;</span>
<span>    }</span>
<span>    else{</span>
<span>        anterior->proximo = atual->proximo;</span>
<span>    }</span>
<span>    free(temporario);</span>
<span>}</span>
            </code>
        </pre>
</body>
</html>