<html>
<body>
    <pre>
        <code>
função remover(fila, posicao) {
    se lista.topo == NULO {
        exiba("Erro ao tentar retirar um elemento de uma lista vazia\n")
        retorna
    }

    se lista.tamanho < posicao {
        exiba("Erro ao tentar retirar um elemento inexistente de uma lista\n")
        retorna
    }

    anterior = NULO
    atual = lista.topo

    para i de 0 até posicao {
        anterior = atual
        atual = atual.proximo
    }

    se anterior == NULO {
        lista.topo = lista.topo.proximo
    }
    se não {
        anterior.proximo = atual.proximo
    }
}
        </code>
    </pre>
</body>
</html>