<html>
<head>
</head>
<body>
<pre>
            <code>
<span>#include &lt;stdio.h&gt;</span>
<span>#include &lt;stdlib.h&gt;</span>
<span></span>
<span>struct no {</span>
<span>    int valor;</span>
<span>    struct no *proximo;</span>
<span>};</span>
<span></span>
<span>typedef struct no No;</span>
<span></span>
<span>struct fila{</span>
<span>    No *cabeca;</span>
<span>    No *cauda;</span>
<span>};</span>
<span></span>
<span>typedef struct fila Fila;</span>
<span></span>
<span>void enfileirar(Fila *f, int valor) {</span>
<span>    No *novoNo = (No *) malloc(sizeof(No));</span>
<span>    novoNo->valor = valor;</span>
<span>    novoNo->proximo = NULL;</span>
<span></span>
<span>    if(f->cabeca == f->cauda && f->cabeca == NULL) {</span>
<span>        f->cabeca = f->cauda = novoNo;</span>
<span>    }</span>
<span>    else{</span>
<span>        f->cauda->proximo = novoNo;</span>
<span>        f->cauda = novoNo;</span>
<span>    }</span>
<span>}</span>
<span></span>
<span>void desenfileirar(Fila *f){</span>
<span>    if(f->cabeca == f->cauda && f->cabeca == NULL){</span>
<span>        printf("Erro ao tentar retirar um elemento de uma fila vazia\n");</span>
<span>        return;</span>
<span>    }</span>
<span>    No *temporario = f->cabeca;</span>
<span>    if(f->cabeca == f->cauda){</span>
<span>        f->cabeca = f->cauda = NULL;</span>
<span>    }</span>
<span>    else{</span>
<span>        f->cabeca = f->cabeca->proximo;</span>
<span>    }</span>
<span>    free(temporario);</span>
<span>}</span>
<span></span>
<span>void printAll(Fila *f){</span>
<span>    No *atual = f->cabeca;</span>
<span>    while(atual != NULL){</span>
<span>        printf("%d ", atual->valor);</span>
<span>        atual = atual->proximo;</span>
<span>    }</span>
<span>    printf("\n");</span>
<span>}</span>
<span></span>
<span>Fila *criarFila(){</span>
<span>    Fila *f = (Fila *) malloc(sizeof(Fila));</span>
<span>    f->cabeca = f->cauda = NULL;</span>
<span>    return f;</span>
<span>}</span>
<span></span>
<span>int main() {</span>
<span>}</span>
            </code>
        </pre>
</body>
</html>