<html>
<body>
    <pre>
        <code>
<span>função inserir(fila, valor) {</span>
<span>    novoNo = novo No()</span>
<span>    novoNo.valor = valor</span>
<span>    novoNo.proximo = NULO</span>
<span></span>
<span>    se fila.cabeca == fila.cauda e fila.cabeca == NULO {</span>
<span>        fila.cabeca = novoNo</span>
<span>        fila.cauda = novoNo</span>
<span>    }</span>
<span>    se não {</span>
<span>        fila.cauda.proximo = novoNo</span>
<span>        fila.cauda = novoNo</span>
<span>    }</span>
<span>}</span>
        </code>
    </pre>
</body>
</html>