<html>
<body>
    <pre>
        <code>
<span>função remover(fila) {</span>
<span>    se fila.cabeca == fila.cauda</span>
<span>            e fila.cabeca == NULO {</span>
<span>        exiba("A fila já está vazia\n")</span>
<span>        retorna</span>
<span>    }</span>
<span></span>
<span>    se fila.cabeca == fila.cauda {</span>
<span>        f->cabeca = NULO</span>
<span>        f->cauda = NULO</span>
<span>    }</span>
<span>    se não{</span>
<span>        fila.cabeca = fila.cabeca.proximo</span>
<span>    }</span>
<span>}</span>
        </code>
    </pre>
</body>
</html>