<html>
<head>
</head>
<body>
<pre>
            <code>
<span>class No:</span>
<span>    def __init__(self, valor, proximo):</span>
<span>        self.valor = valor</span>
<span>        self.proximo = proximo</span>
<span></span>
<span></span>
<span>class Pilha:</span>
<span>    def __init__(self):</span>
<span>        self.topo = None</span>
<span></span>
<span>    def empilhar(self, valor):</span>
<span>        novo = No(valor, self.topo)</span>
<span>        self.topo = novo</span>
<span></span>
<span>    def desempilhar(self):</span>
<span>        if(self.topo == None):</span>
<span>            print("Não pode retirar um elemento de uma pilha vazia")</span>
<span>            return</span>
<span></span>
<span>        temporario = self.topo</span>
<span>        self.topo = self.topo.proximo</span>
<span>        valor = temporario.valor</span>
<span></span>
<span></span>
<span></span>
<span>def printAll(fila):</span>
<span>    atual = fila.topo</span>
<span>    while(atual != None):</span>
<span>        print(atual.valor, end=" ")</span>
<span>        atual = atual.proximo</span>
<span>    print()</span>
<span></span>
<span></span>
<span>#Seu código vem aqui!</span>
            </code>
        </pre>
</body>
</html>